.header__lang-link {
    font-weight: 400;
    font-size: 24px;
    line-height: 1.6;
    color: #fff;
    text-decoration: none;
}

@media screen and (min-width: 320px) and (max-width: 465px) {
    .header__lang-link {
        font-size: 18px;
    }
}