.places {
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 50px;
}

@media (min-width: 465px) {
    .places {
        width: calc(100% - 24px * 2);
        padding: 0 24px;
        row-gap: 73px;
    }
}

@media (min-width: 1024px) {
    .places {
        width: calc(100% - 48px * 2);
        padding: 0 48px;
        row-gap: 80px;
    }
}

@media (min-width: 1280px) {
    .places {
        width: calc(100% - 148px * 2);
        padding: 0 148px;
    }
}