.cover__subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 16px;
    z-index: 1;
}

/*@media screen and (max-width: 555px) {*/
/*    .cover__subtitle {*/
/*        font-size: 14px;*/
/*        line-height: 16px;*/
/*        width: 288px;*/
/*    }*/
/*}*/