.content {
    display: flex;
    flex-direction: column;
    row-gap: 64px;
}

@media (min-width: 700px) {
    .content {
        row-gap: 88px;
    }
}

@media (min-width: 1000px) {
    .content {
        row-gap: 92px;
    }
}