/*.lead__subtitle {*/
/*    font-weight: 400;*/
/*    font-size: 30px;*/
/*    font-style: normal;*/
/*    line-height: 36px;*/
/*    color: #fff;*/
/*    margin: 0;*/
/*    max-width: 640px;*/
/*}*/

/*@media screen and (min-width: 1280px) {*/
/*    .lead__subtitle {*/
/*        margin-bottom: 64px;*/
/*    }*/
/*}*/

/*@media screen and (min-width: 900px) and (max-width: 1279px) {*/
/*    .lead__subtitle {*/
/*        width: calc(100vw - 64px * 2);*/
/*        margin-bottom: 56px;*/
/*    }*/
/*}*/

/*@media screen and (min-width: 466px) and (max-width: 899px){*/
/*    .lead__subtitle {*/
/*        margin-bottom: 56px;*/
/*    }*/
/*}*/


/*@media screen and (max-width: 465px) {*/
/*    .lead__subtitle {*/
/*        width: calc(100vw - 16px * 2);*/
/*        margin-bottom: 40px;*/
/*        font-size: 16px;*/
/*        line-height: 20px;*/
/*    }*/
/*}*/


.lead__subtitle {
    padding: 16px 16px 0 16px;
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #fff;
}
