.cover__overlay {
    background: url("../../../images/cover-background.jpg") no-repeat;
    background-size: cover;
    opacity: .8;
    position: absolute;
}

.cover__overlay:hover {
    opacity: .3;
}

@media screen and (min-width: 1184px) {
    .cover__overlay {
        width: 1184px;
        height: 740px;
    }
}

@media screen and (max-width: 1183px) {
    .cover__overlay {
        width: calc(100vw - 20px);
        height: 62.5vw;
    }
}

@media screen and (max-width: 400px) {
    .cover__overlay {
        width: 320px;
        height: 200px;
    }
}