.place {
    min-height: 400px;
    color: #fff;
}

@media screen and (min-width: 768px) {
    .place {
        width: 100%;
        display: grid;
        grid-template-columns: 340px calc(100% - 340px - 28px);
        grid-template-rows: repeat(auto-fit, minmax(min-content, max-content));
        grid-template-areas:
                "title website"
                "image description"
                "image description";
        gap: 48px 28px;
    }
}

@media screen and (min-width: 1024px) {
    .place {
        grid-template-columns: 440px calc(100% - 440px - 32px);
        column-gap: 32px;
    }
}

@media screen and (min-width: 1024px) {
    .place {
        grid-template-columns: 460px calc(100% - 460px - 40px);
        column-gap: 40px;
    }
}