/*.place__description {*/
/*    grid-area: description;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    row-gap: 26px;*/
/*    max-width: 484px;*/
/*}*/

/*@media screen and (max-width: 320px){*/
/*    .place__description {*/
/*        row-gap: 25px;*/
/*        width: 288px;*/
/*        margin: 0 auto;*/
/*    }*/
/*}*/

.place__description {
    display: flex;
    flex-direction: column;
    row-gap: 20px;

    margin-top: 32px;
    padding: 0 16px;
}